In [ ]:
#Simple Statistics with a list of numbers

In [2]:
# Req Want to find the minimum, maximum and sum of total values present in a list

digits=[1,2,3,4,5,6,7,8,9,10,11,12]
min(digits)

1

In [3]:
max(digits)

12

In [4]:
sum(digits)

78

In [5]:
# working with a part of the list
Students=['Ashok','Tarun','Shravya','Ravi','Mehtab','Diksha','Saurabh','Eshwari']
print(Students)

['Ashok', 'Tarun', 'Shravya', 'Ravi', 'Mehtab', 'Diksha', 'Saurabh', 'Eshwari']

In [7]:
# Slicing the list
len(Students)

8

In [8]:
# Indexing starts from 0,1,2, ......
# Req: Print the names of first 2 Students.
print(Students[0:1])# Since indexing starts from 0 and the last value is exclusive therefore it is displaying only 1 value.

['Ashok']

In [9]:
print(Students[0:2]) 
# Here it is considering 2 values and excluding the last value. Values considered are 0,1 and 2 is excluded.

['Ashok', 'Tarun']

In [10]:
print(Students[2:4])

['Shravya', 'Ravi']

In [11]:
print(Students[4:6])

['Mehtab', 'Diksha']

In [12]:
print(Students[6:8])

['Saurabh', 'Eshwari']

In [13]:
# General Syntax of slicing --> Start value, Stop value, Step count
# Req: Take every alternate number in the list.
# eg, Ashok - Shravya - Mehtab
print(Students[0:8:2]) # Output is displaying alternate student in the list. We have added 2 step count here.

['Ashok', 'Shravya', 'Mehtab', 'Saurabh']

In [14]:
print(Students[0:8:3]) # Here Step count is 3

['Ashok', 'Ravi', 'Saurabh']

In [32]:
#copying a list:
my_food =['pizza','burger','cake']
print(my_food)

['pizza', 'burger', 'cake']

In [33]:
friends_food=my_food[:]# values are assigned through it.
print(friends_food)

['pizza', 'burger', 'cake']

In [34]:
print('My fav foods are: ')
print(my_food)
print('my Friends fav food are')
print(friends_food)

My fav foods are:
['pizza', 'burger', 'cake']
my Friends fav food are
['pizza', 'burger', 'cake']

In [35]:
# Adding values in the existing list
my_food.append('Corn')
friends_food.append('Chocolate')
print(my_food)
print(friends_food)

['pizza', 'burger', 'cake', 'Corn']
['pizza', 'burger', 'cake', 'Chocolate']

In [45]:
friends_food=my_food
print(friends_food)
print('\n')
print(my_food)

['pizza', 'burger', 'cake', 'Corn']


['pizza', 'burger', 'cake', 'Corn']

In [ ]:
# Introduction to Tuple Data Type
# Tupple is considered an immutable data type, No Alteration, No Assignment is possible in this data type.
# How to define a tuple ----- by using()

In [46]:
dimensions=(200,50)
print(dimensions)

(200, 50)

In [47]:
type(dimensions)

tuple

In [49]:
dimensions[0]=250 # Note the error message, it clearly says, TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment